<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />


    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher"
        tools:node="replace"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:ignore="CoarseFineLocation">
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.SplashActivity" android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.BoostActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.BoostingList" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.BatteryBoost" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.ScanningBattery" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.CoolerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.CoolingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.PrivacyWebView" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.CoolerScanning" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.MonitorActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.SaverModeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.OptimizeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.WifiBoosterActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.SettingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.IgnorListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.BoosterIgnorList" android:screenOrientation="portrait"/>
        <activity android:name="com.ptapps.smartbooster.phonecooler.boost.ramcleaner.fast.WifiBoostCompleteActivity" android:screenOrientation="portrait"/>



    </application>

</manifest>