<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.phonecleaner.fastbooster.safe">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />


    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher"
        tools:node="replace"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        tools:ignore="CoarseFineLocation">
        <activity android:name=".WelcomeActivity" android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.phonecleaner.fastbooster.safe.StartActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.CleanerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.CleanerList" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.BatteryTester" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.BatteryFirstActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.CPUActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.CPU_Boost_Activity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.CPUScan" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.MonitorActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.BatterySavingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.FinalAllActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.WifiCleanerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.IgnorAppListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.appIgnorList" android:screenOrientation="portrait"/>
        <activity android:name="com.phonecleaner.fastbooster.safe.WifiCleanerReadyActivity" android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>